<div>
  <div class="row" *ngIf="lastError">
    <div class="alert alert-warning col-12" role="alert">
      <span [translate]="'E' + (lastError.statusCode || 500) + '.title'"></span><br>
      <small *ngIf="lastError.statusCode >= 0" [translate]="'E' + (lastError.statusCode || 500) + '.message'"></small>
      <small *ngIf="lastError.statusCode == null">{{lastError.message}}</small>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ng-container>
        <advanced-form-edit #formComponent [formName]="'CandidateSources/export'"></advanced-form-edit>
      </ng-container>
    </div>
  </div>
</div>
