<div class="col-12 tab-navbar tab-container">
  <ul class="nav d-flex">
    <li class=" tab-brand disabled">
      <a class="text-secondary nav-link pl-0 font-lg" [routerLink]="['../']">
        <i class="fa fa-chevron-left pr-1"></i> {{ 'Sidebar.Scholarships' | translate }}
      </a>
    </li>
  </ul>
  <div class="row pt-2 pb-2" *ngIf="model">
    <div class="col-auto">
      <h1 class="my-auto px-0 py-2"> {{model.name}}
        {{ (model.scholarshipType ? ' - ' + ('Scholarships.ScholarshipType.' + model.scholarshipType?.alternateName | translate) :  '') }}
        {{ (model.status ? ' : ' + ('Scholarships.StatusAlternateName.' + model.status?.alternateName | translate) :  '') }}
        <span><i placement="bottom" id="tooltip" [tooltip]="tooltipTemplate"
            class="fa fa-info bg-primary text-light px-2 py-1 ml-3 rounded-circle font-xs align-middle"></i></span>
      </h1>
    </div>
    <div class="col-auto px-2 py-0 ml-auto" *ngIf="model">
      <app-actions-button [edit]="edit" [actions]="actions"></app-actions-button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<ng-template #tooltipTemplate>
  <div class="font-lg text-gray-600">
    <div class="row m-1">
      <div class="col-md-6 text-left text-dark">
        <span [translate]="'Scholarships.Name'"></span>
      </div>
      <div class="col-md-6 text-left">
        <span>{{model.name}}</span>
      </div>
    </div>
    <div class="row m-1" *ngIf="model.scholarshipType">
      <div class="col-md-6 text-left text-dark">
        <span [translate]="'Scholarships.ScholarshipTypeName'"></span>
      </div>
      <div class="col-md-6 text-left">
        <span>{{ 'Scholarships.ScholarshipType.' + model.scholarshipType.alternateName | translate }}</span>
      </div>
    </div>
    <div class="row m-1" *ngIf="model.organization">
      <div class="col-md-6 text-left text-dark">
        <span [translate]="'Scholarships.Organization'"></span>
      </div>
      <div class="col-md-6 text-left">
        <span>{{model.organization.name}} </span>
      </div>
    </div>
  </div>
</ng-template>