<div class="modal-header" *ngIf="modalTitle">
  <h5 class="modal-title">{{modalTitle}}</h5>
  <button (click)="cancel()" type="button" class="close" data-dismiss="modal" aria-label="Cancel">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<ng-container *ngIf="okButtonDisabled || lastError">
  <!--show warning or error-->
  <div class="row mb-2 mt-3 ml-2 col-12">
    <div *ngIf="okButtonDisabled" class="alert alert-warning" role="alert">
      <span [translate]="'Students.PercentagesValuesError'"></span><br>
      <small *ngIf="selectedCourse && selectedCourse.invalidSubmissionMessage">{{selectedCourse.invalidSubmissionMessage}}</small>
    </div>
    <div *ngIf="lastError" class="alert alert-danger" role="alert">
      <span [translate]="'Students.PercentagesError'"></span><br>
      <small *ngIf="lastError.error && lastError.error.code; else localError">{{lastError.error.code}}</small>
    </div>
  </div>
</ng-container>

<div class="d-flex mt-4 mb-5 col-12" *ngIf="complexCourses.length > 1">
  <label for="selectCourse" class="col-3 col-form-label" [translate]="'Students.SelectComplexCourse'"></label>
  <select [(ngModel)]="selectedCourse" (ngModelChange)="onSelectedCourseChange()" id="selectCourse" class="form-control col-9">
    <option *ngFor="let complexCourse of complexCourses" [ngValue]="complexCourse"> {{complexCourse?.courseTitle}}
    </option>
  </select>
</div>


<div *ngIf="selectedCourse.parts" class="col-12">
  <ul *ngIf="selectedCourse.parts.length > 0" class="sis--list-group sis--list-group-header">
    <li class="sis--list-group-item">
      <div class="d-flex justify-content-center align-items-center">
        <div class="sis--list-group-item_lg_column" [translate]="'Courses.TitleSingular'"></div>
        <div class="sis--list-group-item_lg_column d-none d-md-block" [translate]="'Forms.CalculatedCoursePart'"></div>
        <div class="sis--list-group-item_lg_column d-none d-md-block" [translate]="'Forms.CoursePartPercent'"></div>
      </div>
    </li>
  </ul>
  <ul class="sis--list-group sis--list-group-body">
    <li *ngFor="let part of selectedCourse.parts" class="sis--list-group-item">
      <div class="d-flex justify-content-center align-items-center list-color">
        <div class="sis--list-group-item_lg_column ">
          {{ part.course.displayCode }} - {{ part.courseTitle }}
        </div>
        <div class="sis--list-group-item_lg_column d-none d-md-block">
          <select class="form-control col-5 ml-4" [(ngModel)]="part.calculated" (change)="onPartChange()">
            <ng-container *ngFor="let label of yesNoOptions.labels; let i=index">
              <option [value]="yesNoOptions.values[i]"> {{ label | translate}} </option>
            </ng-container>
          </select>
        </div>
        <div class="sis--list-group-item_lg_column d-none d-md-block">
          <input class="form-control bg-white text-center" type="text" [(ngModel)]="part.coursePercent" (change)="onPartChange()" (keyup)="validateUserInput(part)">
          <span *ngIf="part.error" class="text-danger" [translate]="'Students.PercentageInvalid'"></span>
        </div>
      </div>
    </li>
  </ul>
  <div class="mb-3 pt-4 text-indigo" [translate]="'Forms.FactorsInfo'"></div>
</div>
<div class="modal-footer justify-content-end">
  <button [disabled]="okButtonDisabled" (click)="ok()" type="button" [ngClass]="okButtonClass"
    [translate]="'OK'">
  </button>
  <button [disabled]="cancelButtonDisabled" (click)="cancel()" type="button" [ngClass]="cancelButtonClass"
    data-dismiss="modal">
    {{'Cancel' | translate}}
  </button>
</div>
