<div *ngIf="!loading && registration" class="alert alert-dismissible shadow fade show"
     [ngClass]="isEditable? 'alert-success':'alert-warning '">
  <div *ngIf="isEditable" [translate]="'Registrations.EditRegistration.WarningCanEdit'"></div>
  <div *ngIf="!isEditable && registration?.status?.alternateName !== 'closed'" [translate]="'Registrations.EditRegistration.WarningNotActiveStudent'"></div>
  <div *ngIf="registration?.status?.alternateName === 'closed'" [translate]="'Registrations.EditRegistration.WarningClosedRegistration'"></div>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div>
  <div class="row">
    <div class="col-12" [ngVar]="{}" #filter="ngVar">
      <app-advanced-table-search #advancedSearch [(filter)]="filter.value" [table]="classes" [showMore]="false">
        <advanced-search>
          <app-advanced-search-form (filterChange)="advancedSearch.asyncAdvancedSearch()" #search
                                    [(filter)]="filter.value"></app-advanced-search-form>
        </advanced-search>
      </app-advanced-table-search>
    </div>
  </div>
  <div class="row"  *ngIf="!loading">
    <div class="col-auto pt-4">
      <div class="font-xl text-secondary" *ngIf="recordsTotal > 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Courses.Title'"></span><span
        class="font-xl text-secondary"></span>
      </div>
      <div class="font-xl text-secondary" *ngIf="recordsTotal === 1">
        <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Courses.TitleSingular'"></span>
      </div>
    </div>
    <div class="pull-right ml-auto mr-3 mt-3">
      <div class="btn-group" *ngIf="this.classes && this.classes.selectable">
        <button [disabled]="!tableEditor.dirty" class="btn btn-outline-indigo btn-lg" (click)="commit()" type="button" [translate]="'Registrations.CommitRegistration'">
          Edit
        </button>
        <button type="button" class="btn btn-lg btn-outline-indigo dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <button [disabled]="!(classes && this.classes.selected && this.classes.selected.length) || !isEditable" class="dropdown-item" (click)="removeMany()" [translate]="'Registrations.RemoveCourses'">Remove</button>
          <button [disabled]="!(classes && isEditable)" class="dropdown-item" (click)="add()" [translate]="'Registrations.AddCourses'">Add</button>
          <button [disabled]="!tableEditor.dirty" class="dropdown-item" (click)="tableEditor.undo()" [translate]="'Registrations.UndoCourses'">Undo</button>
          <div class="dropdown-divider"></div>
          <button class="dropdown-item" (click)="classes.selectAny()" [translate]="'Tables.SelectAll'">Select all</button>
          <button class="dropdown-item" (click)="classes.selectNone()" [translate]="'Tables.ClearSelection'">Clear selection</button>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mb-4">
      <app-advanced-table (loading)="onLoading($event)" [tableEditor] [selectable]="isEditable" [scrollable]="true" [showFooter]="false" [serverSide]="false"
                          #classes [height]="600" (load)="onDataLoad($event)"></app-advanced-table>
    </div>
  </div>
  <router-modal></router-modal>
</div>
