<div>
  <div class="mt-2 row" *ngIf="lastError">
    <div class="alert alert-danger col-12" role="alert">
      <span [translate]="'E' + (lastError.statusCode || 500) + '.title'"></span><br />
      <small *ngIf="lastError.statusCode >= 0" [translate]="'E' + (lastError.statusCode || 500) + '.message'"></small>
      <small *ngIf="lastError.statusCode == null">{{ lastError.message }}</small
      ><br />
      <small *ngIf="lastError.error?.message">{{ lastError.error.message }}</small
      ><br />
    </div>
  </div>
  <ng-container *ngIf="student && student.username && student.userAlternateName">
    <span
      [translate]="'Students.AssignUserAction.StudentAlreadyLinkedWithUser'"
      [translateParams]="{ username: student.username, userAlternateName: student.userAlternateName }"
    ></span>
  </ng-container>
  <div
    [ngClass]="{
      'd-none': student == null || (student && student.username && student.userAlternateName),
      '': !(student && student.username && student.userAlternateName)
    }"
  >
    <p [translate]="'Students.AssignUserAction.Instructions'"></p>
    <ng-container *ngIf="instituteConfiguration && !instituteConfiguration.allowStudentUserSharing">
      <p [translate]="'Students.AssignUserAction.AllowSharing.False'"></p>
    </ng-container>
    <ng-container *ngIf="instituteConfiguration && instituteConfiguration.allowStudentUserSharing === true">
      <p [translate]="'Students.AssignUserAction.AllowSharing.True'"></p>
    </ng-container>
    <div class="row mt-2">
      <div class="col-12">
        <advanced-form-edit #formComponent [formName]="'Students/assignUser'"></advanced-form-edit>
      </div>
      <div class="col-12">
        <div *ngIf="userAlreadyClaimedByStudents && userAlreadyClaimedByStudents.length > 0">
          <div class="d-flex align-items-center">
            <span>{{ 'Students.AssignUserAction.AlreadyAssignedToStudents' | translate }}</span>
          </div>
          <ul class="col-12 search-result">
            <li *ngFor="let student of userAlreadyClaimedByStudents">
              <a [routerLink]="['/students', student.id, 'dashboard', 'overview']">
                <div class="row">
                  <div class="col-12 text-truncate">
                    <i class="fa fa-regular fa-user-graduate student-icon"></i> [{{ student.studentIdentifier }}] {{ student.familyName }}
                    {{ student.givenName }} - {{ 'StudentStatuses.' + student.studentStatus | translate }} ({{ student.department }})
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <ng-container *ngIf="userClaimedState">
      <div>
        <span *ngIf="userClaimedState === 'PotentiallyFree'"
          ><i class="fa fa-info-circle text-primary"></i><span>&nbsp;</span
          ><span class="text-primary" [translate]="'Students.AssignUserAction.ClaimStateMessages.PotentiallyFree'"></span
        ></span>
        <span
          style="font-size: medium"
          *ngIf="userClaimedState === 'Claimed' && !(instituteConfiguration && instituteConfiguration.allowStudentUserSharing === true)"
          ><i class="fa fa-times-circle text-danger"></i><span>&nbsp;</span
          ><span class="text-danger" [translate]="'Students.AssignUserAction.ClaimStateMessages.Claimed.SharingDisabled'"></span
        ></span>
        <span
          style="font-size: medium"
          *ngIf="userClaimedState === 'Claimed' && instituteConfiguration && instituteConfiguration.allowStudentUserSharing === true"
          ><i class="fa fa-info-circle text-warning"></i><span>&nbsp;</span
          ><span
            class="text-warning font-weight-bold"
            [translate]="'Students.AssignUserAction.ClaimStateMessages.Claimed.SharingEnabled'"
          ></span
        ></span>
      </div>
    </ng-container>
  </div>
</div>
