<div class="row">
  <div class="s--btn-group-toggle col-12 d-flex">
    <div class="btn-group btn-group-toggle float-right ml-auto" data-toggle="buttons">
      <label class="btn btn-toggle active" (click)="changeConfig('list')">
        <input type="radio" name="options" id="option1" autocomplete="off">
        <span>{{ 'Students.Semesters' | translate }}</span>
      </label>
      <label class="btn btn-toggle" (click)="changeConfig('courses')">
        <input type="radio" name="options" id="option2" autocomplete="off">
        <span>{{ 'Students.Courses' | translate }}</span>
      </label>
    </div>
  </div>
  <div class="col-12 mt-4" *ngIf="currentConfig === 'courses'" [ngVar]="{studentId: studentId}" #filter="ngVar">
    <app-advanced-table-search #advancedSearch [(filter)]="filter.value" [collapsed]="true" [table]="model">
      <advanced-search>
        <app-advanced-search-form (filterChange)="advancedSearch.asyncAdvancedSearch()" #search
          [(filter)]="filter.value"></app-advanced-search-form>
      </advanced-search>
    </app-advanced-table-search>
  </div>
  <div class="col-6 mt-4">
    <div class="font-xl text-secondary" *ngIf="recordsTotal">
      <span>{{recordsTotal}}</span><span>&nbsp;</span><span [translate]="'Students.Registrations'"></span>
    </div>
  </div>
  <div *ngIf="allowNewRegistration && currentConfig === 'list'" class="col-6 mt-4 d-flex align-items-center">
    <div  class="float-right ml-auto">
      <a class="font-lg btn-toolbar text-indigo text-decoration-none" [routerLink]="['.', { outlets:{ modal:'new'} }]" type="button">
        <span>+</span><span>&nbsp;</span> <span [translate]="'Registrations.CreateRegistrationAction.Title'"></span>
      </a>
    </div>
  </div>
  <div *ngIf="!allowNewRegistration && currentConfig === 'list'" class="col-6 mt-4 d-flex align-items-center">
    <div class="float-right ml-auto">
      <a class="font-lg btn-toolbar text-indigo text-decoration-none" (click)="openDialog()"
        type="button">
        <span>+</span><span>&nbsp;</span> <span [translate]="'Registrations.CreateRegistrationAction.Title'"></span>
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 mb-4 mr-3">
    <app-advanced-table (loading)="onLoading($event)" [selectable]="false" #model [showFooter]="false" (load)="onDataLoad($event)" [height]="600"></app-advanced-table>
  </div>
</div>
<router-modal></router-modal>
